/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/app/cache
/app/cache/*
!app/cache/.gitkeep
!/app/logs
/app/logs/*
!app/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/sip_proveedores/
/web/convenios/
/web/uploads/
.DS_Store
composer.phar
composer.lock
symfony
global.conf
._.DS_Store
